:root {
  --mainColor: #a7a9ac;
  --whiteColor: #ffffff;
  --darkColor: #1f1f1f;
  --lightGrayColor: #d6d6d6;
  --grayColor: #777;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}
@font-face {
  font-family: IBM;
  font-display: swap;
  src: url(../webfonts/IBMPlexSansArabic-Regular.ttf);
}
* {
  font-family: "IBM", Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  // background-color: #eee;
  border-radius: 0px !important;
}
::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #ececec;
}
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  outline: none;
  border-radius: 20px !important;
}
:target {
  scroll-margin-top: 50px;
}
a {
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  text-decoration: none;
  color: var(--mainColor);
}
button {
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.row {
  margin: 0px;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.btn {
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  i {
    font-size: 16px;
  }
}
.btn:focus {
  box-shadow: none;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}
input {
  accent-color: var(--mainColor) !important;
}
.odometer-inside {
  direction: ltr !important;
}
.fancybox__container {
  z-index: 1999;
}
::placeholder {
  font-size: 12px;
  color: #bababa !important ;
  font-weight: normal !important;
}
::selection {
  background-color: var(--mainColor);
}
[type="email"],
[type="number"],
[type="tel"],
[type="url"] {
  direction: rtl;
}
.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  // border: 1px solid #777777;
  min-height: 48px;
  background-color: var(--whiteColor);
  border-radius: 4px;
  padding: 0 16px;
}
.select2 {
  min-width: 100px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  left: 8px;
  right: unset;
  top: 50%;
  transform: translateY(-50%);
 
}
span.select2.select2-container.select2-container--default {
  width: 100% !important;
}
.select2-results__option--selectable {
  border-radius: 0px;
  margin-bottom: 2px;
  padding: 12px;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--mainColor) !important;
  color: var(--whiteColor) !important;
}
.select2-dropdown {
  border-radius: 4px;
  box-shadow: var(--BigShadow) !important;
  border-color: transparent;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  color: var(--darkColor);
  padding: 0px;
}
// .select2-container {
//   z-index: 1060;
// }
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
.navbar-toggler {
  border: none;
  box-shadow: none !important;
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
}
.dropdown {
  .dropdown-toggle {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    padding-right: 24px;
    &::after {
      content: "\f107";
      font-family: "Font Awesome 6 Pro";
      border: none;
      vertical-align: middle;
      font-size: 12px;
      position: absolute;
      right: 8px;
      top: 55%;
      transform: translateY(-50%);
      color: var(--grayColor);
    }
    i {
      font-size: 14px;
      color: var(--mainColor);
    }
  }
  .dropdown-item {
    padding: 8px 12px;
    &.active,
    &:active {
      background-color: var(--mainColor);
    }
  }
  .dropdown-menu {
    animation: fadeIn 0.3s;
    background-color: var(--whiteColor);
    border: none;
    padding: 8px;
    border: 2px solid var(--lightGrayColor);
    z-index: 1022;
    flex-direction: column;
    gap: 4px;
    width: auto;
    min-width: 100px;
    transform: unset !important;
    .dropdown-item {
      font-size: 13px;
    }
    &.show {
      top: calc(100% + 10px) !important;
      display: flex;
      left: unset;
      right: 0;
    }
    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-color: var(--whiteColor);
      position: absolute;
      top: -8px;
      right: 24px;
      transform: rotate(45deg);
      z-index: -2;
      border: 2px solid var(--lightGrayColor);
    }
    &::after {
      content: "";
      width: calc(100% - 4px);
      height: 24px;
      background-color: var(--whiteColor);
      position: absolute;
      top: 0;
      z-index: -1;
      right: 2px;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
button {
  border: none;
  background-color: transparent;
}
.form-control {
  min-height: 54px;
  &:focus {
    box-shadow: none;
  }
}
.tooltip {
  --bs-tooltip-bg: var(--darkColor);
  .tooltip-inner {
    font-size: 10px;
    padding: 8px 16px !important;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
.preloader {
  background-color: var(--darkColor);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .preloaderImg {
    background-color: var(--whiteColor);
    width: 150px;
    height: 150px;
    mask-image: url("../img/simpleLogoWhite_1.gif");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    @media screen and (max-width: 1024px) {
      width: 100px;
      height: 100px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 50%;
      width: 160px;
      height: 160px;
      z-index: 2;
      background-color: var(--mainColor);
      transform: translate(50%, -50%);
      animation: slide-up 1.5s forwards;
      @media screen and (max-width: 1024px) {
        width: 110px;
        height: 110px;
      }
    }
    @keyframes slide-up {
      from {
        transform: translate(50%, 50%);
      }
      to {
        transform: translate(50%, -50%);
      }
    }
  }
}
body {
  overflow-x: hidden;
}
.parking {
  position: relative;
  display: flex;
  padding: 100px 50px 0px;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  gap: 100px;
  .parkingCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    .colName {
      font-size: 80px;
      font-weight: bold;
      text-transform: uppercase;
      color: #d6d6d6;
    }
    .cars {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 140px 110px 20px;
      flex: 1;
      .car {
        border: 1px solid #a0a0a0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transform: rotate(45deg) translate(0px, -80px);
        margin-top: -93px;
        width: 80px;
        aspect-ratio: 1/2;
        // margin: -26px 0;
        flex-direction: column;
        font-size: 30px;
        font-weight: bold;
        border-top: transparent;
        color: #d6d6d6;
        position: relative;
        gap: 4px;
        padding: 6px;
        transition: var(--transition);
        &:hover {
          background-color: var(--darkColor);
        }
        &::before {
          content: "";
          display: flex;
          width: 24px;
          height: 1px;
          position: absolute;
          left: calc(100% - 12px);
          top: 0;
          background-color: var(--grayColor);
          z-index: 2;
        }
        &:nth-child(2n) {
          margin-top: -115px;
          transform: rotate(-45deg) translate(-8px, -72px);
          &::before {
            content: "";
            left: calc(0% - 12px);
          }
        }
        &.reserved {
          font-size: 16px;
          color: gold;
          &::after {
            content: "";
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: whitesmoke;
            background-image: url(../img/car.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            flex: 1;
          }
        }
      }
    }
  }
}
.modal {
  .modal-title {
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    span {
      font-weight: bold;
      color: var(--darkColor);
      font-size: 24px;
    }
    .parkName {
      font-weight: bold;
      color: var(--whiteColor);
      font-size: 24px;
      padding: 4px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--darkColor);
      border-radius: 8px;
      text-transform: uppercase;
    }
  }
  .modal-body {
    padding-top: 24px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .form-control {
      border-radius: 8px;
    }
  }
  .Btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 24px 16px;
    // border-top: 1px solid #eee;
    .btn {
      border-radius: 8px;
      padding: 8px 24px;
    }
  }
  .data {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    text-align: center;
    .info {
      flex: 1 150px;
      p {
        font-size: small;
      }
      h6 {
        font-weight: bold;
      }
    }
  }
}
.loginPage {
  display: flex;
  // flex-wrap: wrap;
  height: 100vh;
  min-height: -webkit-fill-available;
  // padding: 16px;
  .sideImg {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 100vh;
    min-height: -webkit-fill-available;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #1f1f1f65;
      // border-radius: 24px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // border-radius: 24px;
      filter: grayscale(1);
    }
    @media screen and (max-width: 768px) {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      &::after {
        background-color: #1f1f1fd0;
      }
    }
  }
  .side {
    flex: 1;
    display: flex;
    padding: 24px;
    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: min(100% - 0px, 500px);
      margin: auto;
      .text {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .title {
          font-weight: bold;
          text-transform: capitalize;
          font-size: 50px;
        }
      }
      .form-label {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .btn {
        padding: 12px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media screen and (max-width: 768px) {
        background-color: var(--whiteColor);
        padding: 24px;
        border-radius: 16px;
        .text {
          text-align: center;
          .title {
            font-size: 30px;
          }
        }
      }
    }
  }
}
.userLog {
  position: fixed;
  top: 8px;
  right: 9px;
  z-index: 99;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 100px;
  gap: 8px;
  box-shadow: var(--BigShadow);
  background-color: var(--whiteColor);
  border: 2px solid #eee;
  font-weight: bold;
  // color: var(--whiteColor);
  .btn {
    border-radius: 100px;
  }
}
.carOrder {
  text-align: center;
  .type {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .form-check {
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 12px;
      .form-check-input {
        display: none;
        float: none;
        margin: unset;
        &:checked {
          background-color: var(--mainColor);
          border-color: var(--mainColor);
          box-shadow: none;
        }
      }
      .form-check-label {
        transition: var(--transition);
        background-color: var(--whiteColor);
        padding: 20px;
        border-radius: 8px;
        border: 3px solid #eee;
        width: 100%;
        height: 100%;
        display: flex;
        cursor: pointer;
        gap: 12px;
        // justify-content: space-between;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p {
          white-space: nowrap;
        }
      }
      .form-check-input:checked ~ .form-check-label {
        border: 3px solid var(--mainColor);
        background-color: var(--grayColor);
        color: var(--whiteColor);
      }
    }
  }
  .btnOrange {
    min-width: 200px;
    margin: auto;
  }
}
