:root {
  --darkBlue: #1d3b6f;
  --secodary: #e2be8a;
  --mainColor: #a7a9ac;
  --whiteColor: #ffffff;
  --darkColor: #1d3b6f;
  --lightGrayColor: #d6d6d6;
  --grayColor: #777;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@font-face {
  font-family: IBM;
  font-display: swap;
  src: url(../webfonts/IBMPlexSansArabic-Regular.ttf);
}
* {
  font-family: "IBM", Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #ececec;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  outline: none;
  border-radius: 20px !important;
}

ul {
  list-style: none;
}

:target {
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  text-decoration: none;
  color: var(--mainColor);
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.btn:focus {
  box-shadow: none;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}

input {
  accent-color: var(--mainColor) !important;
}

.odometer-inside {
  direction: ltr !important;
}

.fancybox__container {
  z-index: 1999;
}

::-moz-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::-moz-selection {
  background-color: var(--mainColor);
}

::selection {
  background-color: var(--mainColor);
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: rtl;
}

.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  min-height: 48px;
  background-color: var(--whiteColor);
  border-radius: 4px;
  padding: 0 16px;
}

.select2 {
  min-width: 100px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 8px;
  right: unset;
  top: 50%;
  transform: translateY(-50%);
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-results__option--selectable {
  border-radius: 0px;
  margin-bottom: 2px;
  padding: 12px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--mainColor) !important;
  color: var(--whiteColor) !important;
}

.select2-dropdown {
  border-radius: 4px;
  box-shadow: var(--BigShadow) !important;
  border-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  color: var(--darkColor);
  padding: 0px;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.navbar-toggler .navbar-toggler-icon {
  width: 30px;
  height: 30px;
}

.dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  padding-right: 24px;
}
.dropdown .dropdown-toggle::after {
  content: "\f107";
  font-family: "Font Awesome 6 Pro";
  border: none;
  vertical-align: middle;
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 55%;
  transform: translateY(-50%);
  color: var(--grayColor);
}
.dropdown .dropdown-toggle i {
  font-size: 14px;
  color: var(--mainColor);
}
.dropdown .dropdown-item {
  padding: 8px 12px;
}
.dropdown .dropdown-item.active, .dropdown .dropdown-item:active {
  background-color: var(--mainColor);
}
.dropdown .dropdown-menu {
  animation: fadeIn 0.3s;
  background-color: var(--whiteColor);
  border: none;
  padding: 8px;
  border: 2px solid var(--lightGrayColor);
  z-index: 1022;
  flex-direction: column;
  gap: 4px;
  width: auto;
  min-width: 100px;
  transform: unset !important;
}
.dropdown .dropdown-menu .dropdown-item {
  font-size: 13px;
}
.dropdown .dropdown-menu.show {
  top: calc(100% + 10px) !important;
  display: flex;
  left: unset;
  right: 0;
}
.dropdown .dropdown-menu::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--whiteColor);
  position: absolute;
  top: -8px;
  right: 24px;
  transform: rotate(45deg);
  z-index: -2;
  border: 2px solid var(--lightGrayColor);
}
.dropdown .dropdown-menu::after {
  content: "";
  width: calc(100% - 4px);
  height: 24px;
  background-color: var(--whiteColor);
  position: absolute;
  top: 0;
  z-index: -1;
  right: 2px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  border: none;
  background-color: transparent;
}

.form-control {
  min-height: 54px;
}
.form-control:focus {
  box-shadow: none;
}

.tooltip {
  --bs-tooltip-bg: var(--darkColor);
}
.tooltip .tooltip-inner {
  font-size: 10px;
  padding: 8px 16px !important;
}

.preloader {
  background-color: var(--darkColor);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader .preloaderImg {
  background-color: var(--whiteColor);
  width: 150px;
  height: 150px;
  -webkit-mask-image: url("../img/simpleLogoWhite_1.gif");
          mask-image: url("../img/simpleLogoWhite_1.gif");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .preloader .preloaderImg {
    width: 100px;
    height: 100px;
  }
}
.preloader .preloaderImg::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 160px;
  height: 160px;
  z-index: 2;
  background-color: var(--mainColor);
  transform: translate(50%, -50%);
  animation: slide-up 1.5s forwards;
}
@media screen and (max-width: 1024px) {
  .preloader .preloaderImg::after {
    width: 110px;
    height: 110px;
  }
}
@keyframes slide-up {
  from {
    transform: translate(50%, 50%);
  }
  to {
    transform: translate(50%, -50%);
  }
}

body {
  overflow-x: hidden;
}

.parking {
  position: relative;
  display: flex;
  padding: 100px 50px 0px;
  overflow: auto;
  width: 100vw;
  height: 100dvh;
  min-height: 100vh;
  gap: 100px;
}
.parking .parkingCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parking .parkingCol .colName {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d6d6d6;
}
.parking .parkingCol .cars {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 140px 110px 20px;
  flex: 1;
}
.parking .parkingCol .cars .car {
  border: 1px solid rgba(29, 59, 111, 0.5843137255);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(45deg) translate(0px, -80px);
  margin-top: -93px;
  width: 80px;
  aspect-ratio: 1/2;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  border-top: transparent;
  color: #d6d6d6;
  position: relative;
  gap: 4px;
  padding: 6px;
  transition: var(--transition);
}
.parking .parkingCol .cars .car:hover {
  background-color: var(--darkColor);
}
.parking .parkingCol .cars .car::before {
  content: "";
  display: flex;
  width: 24px;
  height: 1px;
  position: absolute;
  left: calc(100% - 12px);
  top: 0;
  background-color: var(--grayColor);
  z-index: 2;
}
.parking .parkingCol .cars .car:nth-child(2n) {
  margin-top: -115px;
  transform: rotate(-45deg) translate(-8px, -72px);
}
.parking .parkingCol .cars .car:nth-child(2n)::before {
  content: "";
  left: calc(0% - 12px);
}
.parking .parkingCol .cars .car.reserved {
  font-size: 16px;
  color: gold;
}
.parking .parkingCol .cars .car.reserved::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/car.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  flex: 1;
}

.modal .modal-title {
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.modal .modal-title span {
  font-weight: bold;
  color: var(--darkColor);
  font-size: 24px;
}
.modal .modal-title .parkName {
  font-weight: bold;
  color: var(--whiteColor);
  font-size: 24px;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkColor);
  border-radius: 8px;
  text-transform: uppercase;
}
.modal .modal-body {
  padding-top: 24px;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal form .form-control {
  border-radius: 8px;
}
.modal .Btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 24px 16px;
}
.modal .Btns .btn {
  border-radius: 8px;
  padding: 8px 24px;
}
.modal .data {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
}
.modal .data .info {
  flex: 1 150px;
}
.modal .data .info p {
  font-size: small;
}
.modal .data .info h6 {
  font-weight: bold;
}

#timer,
#timer2 {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#timer div,
#timer2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  color: #000;
  min-width: 60px;
  height: 60px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}
#timer div span,
#timer2 div span {
  display: block;
  font-size: 12px;
}

.cost_pay {
  padding: 2rem 3rem !important;
}
.cost_pay .data {
  flex-direction: column;
}
.cost_pay .data .costt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}
.cost_pay .data .costt h4 {
  flex: 1;
  color: #212529;
  font-size: 15px;
  font-weight: 600;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}
.cost_pay .data .costt p {
  color: #bababa;
}
.cost_pay .data .costt p b {
  font-size: 40px;
  color: #212529;
}
.cost_pay .data .payment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.cost_pay .data .payment form {
  width: 100%;
  gap: 1.5rem;
}
.cost_pay .data .payment form .submit {
  justify-content: center !important;
  background-color: var(--darkBlue);
  border: none;
}
.cost_pay .data .payment .type {
  flex-direction: row;
  justify-content: space-between;
}
.cost_pay .data .payment .type .form-check {
  max-height: 1.5rem;
  width: 48%;
}
.cost_pay .data .payment h3 {
  color: #212529;
  font-size: 18px;
  font-weight: 600;
}

.loginPage {
  display: flex;
  height: 100dvh;
  min-height: 100vh;
}
.loginPage .sideImg {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100dvh;
  min-height: 100vh;
}
.loginPage .sideImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 59, 111, 0.3960784314);
}
.loginPage .sideImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}
@media screen and (max-width: 768px) {
  .loginPage .sideImg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .loginPage .sideImg::after {
    background-color: rgba(29, 59, 111, 0.8156862745);
  }
}
.loginPage .side {
  flex: 1;
  display: flex;
  padding: 24px;
  flex-direction: column;
}
.loginPage .side .logo {
  padding: 1.5rem 0 1.5rem;
}
.loginPage .side .logo img {
  max-height: 5rem;
}
.loginPage .side p {
  color: var(--darkBlue);
}
.loginPage .side form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: min(100% - 0px, 500px);
  margin: auto;
}
.loginPage .side form .text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.loginPage .side form .text .title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 50px;
}
.loginPage .side form .text .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginPage .side form .form-label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--darkBlue);
}
.loginPage .side form .btn {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkBlue);
  border: none;
}
.loginPage .side form .btn:hover {
  background-color: #1d3b6f;
}
@media screen and (max-width: 768px) {
  .loginPage .side form {
    background-color: var(--whiteColor);
    padding: 24px;
    border-radius: 16px;
  }
  .loginPage .side form .text {
    text-align: center;
  }
  .loginPage .side form .text .title {
    font-size: 30px;
  }
}

.userLog {
  position: fixed;
  top: 8px;
  right: 9px;
  z-index: 99;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 100px;
  gap: 8px;
  box-shadow: var(--BigShadow);
  background-color: var(--whiteColor);
  border: 2px solid #eee;
  font-weight: bold;
}
.userLog .btn {
  border-radius: 100px;
  background-color: var(--darkBlue);
}
.userLog p {
  color: var(--darkBlue);
}

.notifications-btn {
  position: fixed;
  top: 14px;
  right: 190px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: var(--BigShadow);
  background-color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #eee;
  cursor: pointer;
  z-index: 99;
}
.notifications-btn i {
  font-size: 22px;
  color: var(--darkColor);
}
.notifications-btn small {
  position: absolute;
  top: 6px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e74a3b;
  color: var(--whiteColor);
  border-radius: 50%;
  width: 16px;
  font-size: 12px;
  height: 16px;
}

.notification-center {
  width: min(100% - 48px, 360px);
  border-radius: 12px 12px 0 0;
  position: absolute;
  right: 35px;
  top: 80px;
  z-index: 999;
  background-color: var(--whiteColor);
  box-shadow: var(--BigShadow);
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.notification-center.open {
  height: calc(100vh - 216px);
}
.notification-center h3 {
  background-color: var(--darkColor);
  color: var(--whiteColor);
  font-size: 16px;
  padding: 16px 22px;
}
.notification-center ul {
  padding: 0;
  margin: 0;
}
.notification-center ul li {
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid #efeded;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}
.notification-center ul li h4 {
  background-color: var(--darkColor);
  color: var(--whiteColor);
  padding: 4px 8px;
  border-radius: 8px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.notification-center ul li .notifi-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}
.notification-center ul li .notifi-info .cost {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
}
.notification-center ul li .notifi-info p {
  color: #000;
}
.notification-center ul li .notifi-info .time {
  color: #9c9898;
  font-size: 12px;
}
.notification-center ul li .notifi-info .time b {
  font-weight: 400;
}
.notification-center ul li:hover {
  background-color: #e6e7e9;
  transition: 0.3s ease-in-out;
}
.notification-center a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--darkBlue);
  font-weight: 500;
}
.notification-center a:hover {
  background-color: #e6e7e9;
  transition: 0.3s ease-in-out;
}

.carOrder {
  text-align: center;
}
.carOrder .btnOrange {
  min-width: 200px;
  margin: auto;
}

.type {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.type .form-check {
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}
.type .form-check .form-check-input {
  display: none;
  float: none;
  margin: unset;
}
.type .form-check .form-check-input:checked {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  box-shadow: none;
}
.type .form-check .form-check-label {
  transition: var(--transition);
  background-color: var(--whiteColor);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #eee;
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.type .form-check .form-check-label p {
  white-space: nowrap;
}
.type .form-check .form-check-input:checked ~ .form-check-label {
  border: 1px solid var(--mainColor);
  background-color: #2d5cad;
}
.type .form-check .form-check-input:checked ~ .form-check-label p {
  color: var(--whiteColor);
}/*# sourceMappingURL=styleAR.css.map */